unpackaged/flows/EmailOpCo.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailToOpCo</name>
        <label>SendEmailToOpCo</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Sent_Succesfully</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient2.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>ACTION - Please create contact/account in salesforce</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Is_Valid_Account</name>
        <label>Check Is Valid Account</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Send_Email_To_OpCo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>XUNMATCHED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ZDO NOT USE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Valid_Account_Preview_Email</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EmailOpCo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailOpCo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Valid_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Email_Sent_Succesfully</name>
        <label>Email Sent Succesfully</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Email Sent Succesfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Valid_Account_Preview_Email</name>
        <label>Not Valid Account Preview Email</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 20, 20); font-family: Roboto, sans-serif; font-size: 14px; background-color: rgba(32, 33, 36, 0.04);&quot;&gt;This Contact is linked to XUNMATCHED or ZDONOTUSE Account, which are placeholder accounts. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(211, 20, 20); font-family: Roboto, sans-serif; font-size: 14px; background-color: rgba(32, 33, 36, 0.04);&quot;&gt;Please edit the Contact and select its correct Account before emailing the OpCo.&lt;/strong&gt;&lt;span style=&quot;color: rgb(211, 20, 20); font-family: Roboto, sans-serif; font-size: 14px; background-color: rgba(32, 33, 36, 0.04);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email_To_OpCo</name>
        <label>Preview Email</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendEmailToOpCo</targetReference>
        </connector>
        <fields>
            <name>Recipient2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>EmailToText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailBody2</name>
            <defaultValue>
                <stringValue>{!Body}</stringValue>
            </defaultValue>
            <fieldText>Email Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Danaher LSIG team has identified a new Opportunity ({!Get_Opportunity.Name}) for a new Contact.
We have identified that the contact and/or account are missing from your OpCo Org.
Please create the new Contact and/or Account below in your salesforce org so we can transfer the opportunity to your sales rep.

CONTACT
Name: {!Get_Opportunity.LSIG_Contact__r.FirstName} {!Get_Opportunity.LSIG_Contact__r.LastName}
Email: {!Get_Opportunity.LSIG_Contact__r.Email}

ACCOUNT
Name: {!Get_Opportunity.Account.Name}
Street: {!Get_Opportunity.Account.BillingStreet}
City: {!Get_Opportunity.Account.BillingCity}
State: {!Get_Opportunity.Account.BillingState}
Postcode: {!Get_Opportunity.Account.BillingPostalCode}
Country: {!Get_Opportunity.Account.BillingCountry}

OPPORTUNITY
Next Step: {!Get_Opportunity.NextStep}
Description: {!Get_Opportunity.Description}</text>
    </textTemplates>
    <variables>
        <name>EmailToText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Opportunity.Source_OpCo_Owner__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
