unpackaged/flows/OpCo_Related_Contact_Count_on_OpCo_Account_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_List_Size_to_ContactSize_Variable</name>
        <label>Assign List Size to ContactSize Variable</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ConatctSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_OpCo_Contacts_Related_to_OpCo_Account_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_OpCo_Account_Data_Total_OpCo_Conatct_Field</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>OpCo Related Contact Count on OpCo Account Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpCo Related Contact Count on OpCo Account Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_OpCo_Contacts_Related_to_OpCo_Account_Data</name>
        <label>Get All OpCo Contacts Related to OpCo Account Data</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_List_Size_to_ContactSize_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpCo_Related_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_OpCo_Account_Data_Total_OpCo_Conatct_Field</name>
        <label>Update Related OpCo Account Data Total OpCo Conatct Field</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_OpCo_Contacts__c</field>
            <value>
                <elementReference>ConatctSize</elementReference>
            </value>
        </inputAssignments>
        <object>OpCo_Account__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_OpCo_Contacts_Related_to_OpCo_Account_Data</targetReference>
        </connector>
        <object>OpCo_Related_Contact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ConatctSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
